# .NET / Visual Studio
[Bb]in/
[Oo]bj/
out/
publish/
.vs/
.user
*.suo
*.userosscache
*.sln.docstates
backend.slnx
appsettings.json

# Angular / Node
node_modules/
dist/
.angular/
.angular/cache/
.tscache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# General
.env
*.local
.DS_Store
Thumbs.db
.github
